/* tenteki-app */

h1{
  text-align: center;
}

hr{
  margin-bottom: 30px;
}

#tenteki-app{
  width: 320px;
  margin: 0 auto;
}

.menu{
  width: 100px;
  text-align: left;
  float: left;
}

#amount , #speed , #time{
  width: 200px;
  float: right;
}

.clear {
  clear: both;
}

#keisanBtn{
  /* margin-top: 20px; */
  display: block;
  text-align: center;
  margin: 50px auto 0;
  width: 290px;
  background-color: #f2f2f2;
  border-radius: 8px;
  color: #333;
  font-size: 20px;
  box-sizing: border-box;
  border: 1px solid #333;
}

#keisanBtn:hover{
  cursor: pointer;
  opacity: 0.5;
}

#output{
  margin-top: 50px;
  text-align: center;
}